[Unit]
Description=buildmarket Next.js application
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/myapp
Environment=NODE_ENV=production
Environment=PORT=3000
EnvironmentFile=/opt/myapp/.env
ExecStart=/usr/bin/npm run start
Restart=always
RestartSec=5
KillSignal=SIGTERM
SyslogIdentifier=buildmarket

[Install]
WantedBy=multi-user.target
